body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  min-height: 100vh;
  overflow: hidden;
  font-size: 14px;
  background: #071A27;
  background: radial-gradient(circle, rgba(7, 26, 39, 1) 0%, rgba(2, 16, 23, 1) 100%);
  color: black;
  font-family: "Proxima Nova", sans-serif;
}

main {
  flex: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.login {
  position: absolute;
  top: 0;
  right: 0;
  padding: 50px;
}

  .login * {
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(.02,.61,.14,.98);
  }

  .login :hover {
    transform: scale(1.1);
  }

.desktopTop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desktopTop > #appLogo {
  flex: 1 1 30%;
}

.desktopTop h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #d5d5d5;
  margin-top: 40px;
}

.desktopTop p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #d5d5d5;
  font-size: 15px;
  line-height: 20px;
}

#ad {
  display: inline-block;
  margin-right: 10px;
}
